body {
    font-family: 'Roboto', sans-serif;
    color: black;;
    font-size: medium;
    line-height: 150%;
}

h1, h2 {
    font-family: 'shrikhand', sans-serif;
    font-weight: 900;
    line-height: normal;
}

h2 {
    font-weight: 700;
}

button {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: medium;
    color: #ffff;
    cursor: pointer;
}