$color-primary-red:#901C1C;
$color-primary-salmon: #D3573C; /* rouge brique font */
$color-secondary-grey: #525252;
$color-secondary-light-grey :#FAFAFA;
$color-secondary-grey-color: #901C1C;

$colour-fond1: #eaeaea; /* gris foncé */




